#Biker {
    height: 50px;
    width: 50px;
    position: absolute;

}

.Red {
    background: red;
    //  top: 40%;
    //  right: 20%;
}

.Blue {
    background: blue;
    //  top: 40%;
    //  left: 20%;
}